name: Metrics
on:
  # Schedule daily updates
  schedule: [{cron: "0 0 * * *"}]
  # (optional) Run workflow manually
  workflow_dispatch:
  # (optional) Run workflow when pushing on master/main
  push: {branches: ["main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    environment: 
      name: production
    permissions:
      contents: write
    steps:
      - name: Wakapi
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          filename: metrics.wakapi.svg
          base: ""
          plugin_wakatime: yes
          plugin_wakatime_token: ${{ secrets.WAKAPI_TOKEN }}
          # plugin_wakatime_url: https://wakapi.plumpalbert.xyz
          # plugin_wakatime_user: .user.login
          plugin_wakatime_sections: time, projects-graphs, languages-graphs
          plugin_wakatime_days: 30
          plugin_wakatime_limit: 4
